<div class="wrapper">
  <div class="c1">
    <h1 class="list-header">Invoices</h1>
  </div>
  
  <div class="c2">
    <ion-button size="small" [routerLink]="'/customer-opt/new'">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>
</div>

<ion-list>

  <ion-item button *ngFor="let item of invoices"  (click)="presentItemSheet(item.id)">
    <ion-avatar slot="start">
      <img src="assets/images/invoice.png">
    </ion-avatar>

    <ion-label text-wrap>
      <h3>{{ item.customer?.name }}</h3>
      {{ item.totalPrice }}
    </ion-label>

    <!-- <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->

  </ion-item>

  <ion-infinite-scroll (ionInfinite)="getItems($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-list>
