<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/listing/products">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color='light' name="d-heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>


  <div class="card">
    <div class="image">
      <ion-img [src]="product?.image?product.image:'assets/images/product.png'"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{product?.name}}</h1>
        <p class="ion-no-margin"><sup>$ </sup>{{product?.price}}</p>
      </div>
    </div>

    <div class="rates">
      <app-badge *ngIf="product?.location" icon="cube" text="{{product?.location}}"></app-badge>
      <app-badge *ngIf="product?.code" icon="barcode" text="{{product?.code}}"></app-badge>
    </div>


    <div class="about">
      <h1>{{'product.dtls' | translate}}</h1>
      <p>{{ 'product.qty' | translate}} : {{product?.quantity}}</p>
      <p>{{ 'product.available-qty' | translate}} : {{product?.availableQuantity}}</p>
    </div>

    <!-- <app-button (click)="addItemToCart()">Add To Cart</app-button> -->
  </div>
</ion-content>