<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/listing/customers">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color='light' name="d-heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>


  <div class="card">
    <div class="image">
      <ion-img [src]="customer?.image?customer.image:'assets/images/avatar-alt.png'"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{customer?.name}}</h1>
        <!-- <p class="ion-no-margin"><sup>$</sup>{{customer?.phone}}</p> -->
      </div>
    </div>

    <div class="rates">
      <!-- <app-badge icon="d-time-forward" text="30m"></app-badge> -->
      <app-badge *ngIf="customer?.state" icon="locate" text="{{customer?.state}}"></app-badge>
    </div>


    <div class="about">
      <h1>{{'customer.dtls' | translate}}</h1>
      <p>{{'customer.address' | translate}} : {{customer?.address}}</p>
      <p>{{'customer.email' | translate}} :{{customer?.email}}</p>
      <p>{{'customer.phone' | translate}} :{{customer?.phone}}</p>
    </div>

    <!-- <app-button (click)="addItemToCart()">Add To Cart</app-button> -->
  </div>
</ion-content>