

<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/listing/customers">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons end>
      <ion-button>
        <ion-icon slot="icon-only" color='light' name="ribbon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>


  <div class="card">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

        <ion-item class="floating-input">
          <ion-label position="floating">{{'customer.name' | translate}}</ion-label>
          <ion-input formControlName="name" name="name" ngDefaultControl></ion-input>
          <ion-icon name="person" class="icon" slot="start"></ion-icon>
          <ion-note color="danger" *ngIf="f.name.errors?.required && f.name.touched">Name is required</ion-note>
          <ion-note color="danger" *ngIf="f.name.errors?.pattern&& f.name.touched">Invalid pattern</ion-note>
        </ion-item>


        <ion-item class="floating-input">
          <ion-label position="floating">{{'customer.city' | translate}}</ion-label>
          <ion-input formControlName="state" name="state" ngDefaultControl></ion-input>
          <ion-icon name="locate" class="icon" slot="start"></ion-icon>
          <small class="text-danger" *ngIf="f.state.errors?.required && f.state.touched">City is required</small>
          <small class="text-danger" *ngIf="f.state.errors?.pattern&& f.state.touched">Invalid pattern</small>
        </ion-item>
      
  
        <ion-item class="floating-input">
          <ion-label position="floating">{{'customer.email' | translate}}</ion-label>
          <ion-input formControlName="email" name="email" ngDefaultControl></ion-input>
          <ion-icon name="mail" class="icon" slot="start"></ion-icon>
          <small class="text-danger" *ngIf="f.email.errors?.required && f.email.touched">Email is required</small>
          <small class="text-danger" *ngIf="f.email.errors?.pattern&& f.email.touched">Invalid pattern</small>
        </ion-item>
       
  


   
        <ion-item class="floating-input">
          <ion-label position="floating">{{'customer.phone' | translate}}</ion-label>
          <ion-input formControlName="phone" name="phone" ngDefaultControl></ion-input>
          <ion-icon name="call" class="icon" slot="start"></ion-icon>
          <small class="text-danger" *ngIf="f.phone.errors?.required && f.phone.touched">Phone is required</small>
          <small class="text-danger" *ngIf="f.phone.errors?.pattern&& f.phone.touched">Invalid pattern</small>
        </ion-item>
      
   


     
        <ion-item class="floating-input">
          <ion-label position="floating">{{'customer.address' | translate}}</ion-label>
          <ion-input formControlName="address" name="address" ngDefaultControl></ion-input>
          <ion-icon name="map" class="icon" slot="start"></ion-icon>
          <small class="text-danger" *ngIf="f.address.errors?.required && f.address.touched">Address is required</small>
          <small class="text-danger" *ngIf="f.address.errors?.pattern&& f.address.touched">Invalid pattern</small>
        </ion-item>
     
   
      <ion-button   (click)="onSubmit()" color="primary"  [disabled]="!customerForm.valid" expand="block" fill="solid" class="ion-margin">{{ ( (customer&&customer?.id) ?  'customer.update' : 'customer.add') | translate}}</ion-button>

    </form>
  </div>
</ion-content>