<ion-grid class="stockGridContainer">
  <ion-row style="height: 15px;">
    <ion-col siz="" class="stockHeaderText">
     {{headerFirstText}}
    </ion-col>
    <ion-col siz="" class="stockHeaderText">
      {{headerSecondText}}
    </ion-col>
    <ion-col size="" class="stockHeaderText">
      {{headerThirdText}}
    </ion-col>
    <ion-col size="" class="stockHeaderText" [hidden]="!headerFourthText">
      {{headerFourthText}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col siz="" class="stockValuesWhite">
      <div *ngIf="componentName==='symbol'">
        <div *ngIf="headerFirstValue > 0" class="stockValuesGreen">  {{headerFirstValue}}</div>
        <div *ngIf="headerFirstValue < 0" class="stockValuesRed">  {{headerFirstValue}}</div>
        <div *ngIf="headerFirstValue == 0" class="stockValuesWhite">  {{headerFirstValue}}</div>
       
      </div>
      <div *ngIf="componentName != 'symbol'">
        <div>{{headerFirstValue}}</div>
      </div>
      
    </ion-col>
    <ion-col siz="" class="stockValuesWhite">
      {{headerSecondValue}}
    </ion-col>
    <ion-col siz="">
      <div class="stockValuesWhite">
        {{headerThirdValue}}
      </div>
     
    </ion-col>
    <ion-col siz="" class="stockValuesWhite" [hidden]="!headerFourthText">
      {{headerFourthValue}}
    </ion-col>
  </ion-row>
  <ion-row style="height: 15px;" *ngIf="middelFirstText">
    <ion-col class="stockHeaderText" size="4">
      {{middelFirstText}}
    </ion-col>
    <ion-col class="stockHeaderText" size="4" [innerHTML]="middelSecondText">
      
    </ion-col>
    <ion-col class="stockHeaderText" size="4">
      {{middleThirdText}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="middelFirstText">
    <ion-col  size="4">
      <div *ngIf="componentName==='fund' || componentName==='symbol'">
        <div *ngIf="middelFirstValue > 0" class="stockValuesGreen"> {{middelFirstValue}}</div>
        <div *ngIf="middelFirstValue < 0" class="stockValuesRed"> {{middelFirstValue}}</div>
        <div *ngIf="middelFirstValue == 0" class="stockValuesWhite"> {{middelFirstValue}}</div>
      </div>
      <div class="stockValuesWhite" *ngIf="componentName !='fund' && componentName !='symbol'">
        {{middelFirstValue}}
      </div>
      
    </ion-col>
    <ion-col  size="4">
      <div *ngIf="componentName==='symbol'">
        <div *ngIf="middelSecondValue > 0" class="stockValuesGreen">  {{middelSecondValue}}</div>
        <div *ngIf="middelSecondValue < 0" class="stockValuesRed">  {{middelSecondValue}}</div>
        <div *ngIf="middelSecondValue == 0" class="stockValuesWhite">  {{middelSecondValue}}</div>
       
      </div>

      <div *ngIf="componentName==='fund'">
        <div *ngIf="uncommafy(middelSecondValue) > 0" class="stockValuesGreen"> {{middelSecondValue}}</div>
        <div *ngIf="uncommafy(middelSecondValue) < 0" class="stockValuesRed"> {{middelSecondValue}}</div>
        <div *ngIf="uncommafy(middelSecondValue) == 0" class="stockValuesWhite"> {{middelSecondValue}}</div>
      </div>

      <div class="stockValuesWhite" *ngIf="componentName !='symbol' && componentName!='fund'">
        {{middelSecondValue}}
      </div>
      
    </ion-col>
    <ion-col class="stockValuesWhite" size="4">
      {{middelThirdValue}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="thirdRowFirstText" style="height: 15px;">
    <ion-col class="stockHeaderText" size="4">
      {{thirdRowFirstText}}
    </ion-col>
    <ion-col class="stockHeaderText" size="4">
      {{thirdRowSecondText}}
    </ion-col>
    <ion-col class="stockHeaderText" size="4">
      {{thirdRowThirdText}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="thirdRowFirstText">
    <ion-col class="stockValuesWhite" size="4">
      {{thirdRowFirstValue}}
    </ion-col>
    <ion-col class="stockValuesWhite" size="4">
      {{thirdRowSecondValue}}
    </ion-col>
    <ion-col class="stockValuesWhite" size="4">
      {{thirdRowThirdValue}} 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding" size="3.5" [hidden]="!firstBtnText">
    <ion-button  expand="full" [ngClass]="firstBtnColor" (click)="firstBtnClicked()" [hidden]="btnFlag">
      <img  [hidden]="!firstBtnIcon" [src]="firstBtnIcon" class="icon stock-quick-icon">
      <span class="stockButtonText">{{firstBtnText}}</span>
    </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding" size="3.5" [hidden]="!secondBtnText">
      <ion-button  expand="full" [ngClass]="secondBtnColor" (click)="secondBtnClicked()" [hidden]="btnFlag">
        <img [hidden]="!secondBtnIcon" [src]="secondBtnIcon" class="icon stock-quick-icon">
        <span class="stockButtonText">{{secondBtnText}}</span>
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding" size="3.5" [hidden]="!thirdBtnText">
      <ion-button  expand="full" class="thirdBTN" [ngClass]="thirdBtnColor" (click)="thirdBtnClicked()">
        <img  [hidden]="!thirdBtnIcon" [src]="thirdBtnIcon" class="icon stock-quick-icon">
        <span class="stockButtonText">{{thirdBtnText}}</span>
      </ion-button>
    </ion-col>
    <!-- <ion-col size="" [hidden]="!fourthBtnText">
      <ion-button  expand="full" [ngClass]="fourthBtnColor" (click)="fourthBtnClicked()">
        <img  [hidden]="!fourthBtnIcon" [src]="fourthBtnIcon" class="icon stock-quick-icon">
        <span class="stockButtonText">{{fourthBtnText}}</span>
      </ion-button>
    </ion-col> -->
  </ion-row>
</ion-grid>