<!-- <h1 class="list-header">Customers


  <ion-button size="small" (click)="openModal()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
</h1> -->


<div class="wrapper">
  <div class="c1">
    <h1 class="list-header">Customers</h1>
  </div>
  
  <div class="c2">
    <ion-button size="small" [routerLink]="'/customer-opt/new'">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>
</div>

<!-- <app-button (click)="openModal()">Add</app-button> -->

<!-- <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged()"></ion-searchbar>
 
  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item> -->

<!-- <ion-button expand="block" (click)="openModal()">Open Custom Dialog</ion-button> -->




<ion-list>

  <ion-item button *ngFor="let item of customers"  (click)="presentItemSheet(item.id)">
    <ion-avatar slot="start">
      <img [src]="item.image" *ngIf="item.image != 'N/A'">
    </ion-avatar>

    <ion-label text-wrap>
      <h3>{{ item.name }}</h3>
      {{ item.address }}
    </ion-label>

    <!-- <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->

  </ion-item>

  <ion-infinite-scroll (ionInfinite)="getItems($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-list>
