<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">{{'btn.no' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{'invoice.action.change-status' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [disabled]="!isValidForm">{{'btn.confirm' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->



<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button color='light' (click)="cancel()">{{'btn.no' | translate}}</ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button color='light' (click)="confirm()" [disabled]="!isValidForm">{{'btn.confirm' | translate}}</ion-button>
    </ion-buttons>

  </div>

  <div class="card">
    <ion-item class="floating-input">
      <ion-label position="floating">{{'customer.name' | translate}} : {{invoice?.customer?.name}}</ion-label>
    </ion-item>

    <ion-item class="floating-input">
      <ion-label position="floating">{{'invoice.status.current-status' | translate}} <dam-invoice-status-badge
          [status]="invoice.status"></dam-invoice-status-badge>
      </ion-label>
    </ion-item>

    <ion-item class="floating-input">
      <ion-label position="floating">{{'invoice.total' | translate}} : <sup>$ </sup>{{invoice.totalPrice}}</ion-label>
    </ion-item>



    <ion-item class="floating-input">
      <ion-label position="floating">{{'invoice.status.change-current-status' | translate}}</ion-label>
      <ion-select placeholder="{{ 'invoice.select-status' | translate }}" name="newInvoiceStatus"
        okText="{{ 'btn.yes' | translate }}" interface="action-sheet" mode="ios"
        [interfaceOptions]="{cssClass: 'app-select'}" cancelText="{{ 'btn.no' | translate }}"
        [(ngModel)]="newInvoiceStatus" (ngModelChange)="onStatusChanged($event)">

        <ion-select-option *ngFor="let invStatus of toStatusTypes" [value]="invStatus?.key">
          {{ invStatus?.value }}
        </ion-select-option>

      </ion-select>
    </ion-item>




    <app-inv-status-paid *ngIf="newInvoiceStatus&&newInvoiceStatus+''==='PAID'" [invoice]="invoice"
      (request)="statusRq=$event" (form)="isValidForm=$event.form.valid"></app-inv-status-paid>

    <!-- <app-inv-status-cancel *ngIf="newInvoiceStatus&&newInvoiceStatus+''==='CANCELED'" [invoice]="invoice"
      (request)="statusRq=$event" (form)="isValidForm=$event"></app-inv-status-cancel> -->


    <app-inv-status-paid-partially *ngIf="newInvoiceStatus&&newInvoiceStatus+''==='PAID_PARTIALLY'" [invoice]="invoice"
      (request)="statusRq=$event" (form)="isValidForm=$event.form.valid"></app-inv-status-paid-partially>

  </div>
</ion-content>