<!-- <div class="cart-item">
  <div class="description">
    <h3>{{item.product.name}}</h3>
    <p><sup>$</sup>{{item.product.price|number:'1.2'}}</p>
  </div>

  <div class="">
    <ion-item>
      <ion-icon name="add" slot="icon-only" (click)="increase.emit()" item-right></ion-icon>
      <ion-input class="counter" type="number" min="1" [value]="item.quantity"></ion-input>
      <ion-icon name="remove" slot="icon-only" (click)="decrease.emit()" item-right></ion-icon>
    </ion-item>
  </div>
</div> -->

<ion-card class="cart-item">
  <ion-card-header>
    <!-- <ion-card-title class="title">
      {{_item.product.name}}
    </ion-card-title>
    <ion-card-subtitle>Price:<sup>$</sup>{{_item.product.price|number:'1.2'}}</ion-card-subtitle>

    <ion-card-subtitle> Total: <span><sup>$</sup>{{totalAmount$|async|number:'1.2'}}</span></ion-card-subtitle> -->


    <div style="display: flex; justify-content: space-between;">
      <span>
        <ion-card-title class="title">
          {{_item.product.name}}
        </ion-card-title>
        <ion-card-subtitle>Price:<sup>$</sup>{{_item.product.price|number:'1.2'}}</ion-card-subtitle>
      </span>
      <span>
        <!-- <ion-icon (click)="takeAction(account.$key)" name="more"></ion-icon> -->
        Total:<sup>$</sup>{{totalAmount$|async|number:'1.2'}}
      </span>
    </div>

  </ion-card-header>
  <ion-card-content>


    <table>
      <tr>
        <td>
          <ion-label>Qty</ion-label>
        </td>
        <td>
          <div>
            <ion-item color='#f3f3f3'>
              <ion-icon name="add-circle" (click)="onIncreaseQty()" item-right></ion-icon>
              <ion-input type="number" min="1" [(ngModel)]="_item.quantity" (ngModelChange)="changeItem(_item)">
              </ion-input>
              <ion-icon name="remove-circle" (click)="onDecreaseQty()" item-right></ion-icon>
            </ion-item>
          </div>
        </td>
      </tr>
      <tr>
        <td>Bonus</td>
        <td>
          <div>
            <ion-item color='#f3f3f3'>
              <ion-icon name="add-circle" (click)="onIncreaseBonus()" item-right></ion-icon>
              <ion-input type="number" min="1" [(ngModel)]="_item.bonus" (ngModelChange)="changeItem(_item)">
              </ion-input>
              <ion-icon name="remove-circle" (click)="onDecreaseBonus()" item-right></ion-icon>
            </ion-item>
          </div>
        </td>
      </tr>

      <tr>
        <td>Discount</td>
        <td>
          <div>
            <ion-item color='#f3f3f3'>
              <ion-icon name="add-circle" (click)="onIncreaseDiscount()" item-right></ion-icon>
              <ion-input type="number" min="1" [(ngModel)]="_item.discount" (ngModelChange)="changeItem(_item)">
              </ion-input>
              <ion-icon name="remove-circle" (click)="onDecreaseDiscount()" item-right></ion-icon>
            </ion-item>
          </div>
        </td>
      </tr>

    </table>



  </ion-card-content>
  <!-- <ion-item>
    <ion-label>Qty</ion-label>
    <ion-icon name="add-circle" (click)="increase.emit()" item-right></ion-icon>
    <ion-input type="number" min="1" [value]="item.quantity"></ion-input>
    <ion-icon name="remove-circle" (click)="decrease.emit()" item-right></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>bonus</ion-label>
    <ion-icon name="add-circle" (click)="increase.emit()" item-right></ion-icon>
    <ion-input type="number" min="1" [value]="item.bonus"></ion-input>
    <ion-icon name="remove-circle" (click)="decrease.emit()" item-right></ion-icon>
  </ion-item> -->
</ion-card>