.badge{
    margin-right: 0.5rem;
    background: #6b45bc;
    color:#fff;
    font-size: 0.8rem;
    display:flex;
    align-items: center;
    padding: 0.1rem;
    border-radius: 0.5rem;

    ion-icon{
        margin-right: 0.3rem;
        font-size: 1.5rem;
    }
}