<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/listing/invoices">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="d-heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <form class="panel" style="height: 100%">
      
      <div id="search-overlay-container">
        <div id="search-overlay" (click)="openSearch()"></div>
        <ion-item class="floating-input">
          <ion-label position="floating">{{
            "invoice.customers" | translate
          }}</ion-label>
          <ion-select
            placeholder="{{ 'invoice.select-customer' | translate }}"
            interface="action-sheet"
            mode="ios"
            [interfaceOptions]="{ header: 'Cust', cssClass: 'app-select' }"
            [(ngModel)]="filter.customer"
            name="customer"
          >
            <ion-select-option
              *ngFor="let customer of customers"
              [value]="customer"
            >
              {{ customer.name }} | {{ customer.address }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <ion-item class="floating-input">
        <ion-label position="floating">{{
          "invoice.status.label" | translate
        }}</ion-label>
        <ion-select
          placeholder="{{ 'invoice.select-status' | translate }}"
          [multiple]="true"
          name="statusList"
          [(ngModel)]="filter.statusList"
          [interfaceOptions]="{cssClass: 'app-select' }"
          okText="{{
            'btn.yes' | translate
          }}"
          cancelText="{{
            'btn.no' | translate
          }}"
        >
          <ion-select-option
            *ngFor="let invStatus of statusTypes"
            [value]="invStatus?.key"
          >
            {{ invStatus?.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="floating-input">
        <ion-label class="walletClass" position="floating">{{
          "invoice.fromDate" | translate
        }}</ion-label>
        <ion-input
          [(ngModel)]="filter.fromDate"
          id="fromDate"
          name="fromDate"
          #fromDate="ngModel"
          required
        >
        </ion-input>
        <ion-icon name="calendar" class="icon" slot="start"></ion-icon>

        <ion-modal trigger="fromDate" class="date-time-modal">
          <ng-template>
            <ion-content>
              <ion-datetime
                displayFormat="yyyy-MM-dd"
                class="rounded-date"
                presentation="date"
                [(ngModel)]="filter.fromDate"
                [ngModelOptions]="{ standalone: true }"
                showDefaultButtons="true"
                doneText="{{ 'btn.yes' | translate }}"
                cancelText="{{ 'btn.no' | translate }}"
              >
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item class="floating-input">
        <ion-label class="walletClass" position="floating">{{
          "invoice.toDate" | translate
        }}</ion-label>
        <ion-input
          [(ngModel)]="filter.toDate"
          id="toDate"
          name="toDate"
          #toDate="ngModel"
          required
        >
        </ion-input>
        <ion-icon name="calendar" class="icon" slot="start"></ion-icon>

        <ion-modal trigger="toDate" class="date-time-modal">
          <ng-template>
            <ion-content>
              <ion-datetime
                displayFormat="yyyy-MM-dd"
                class="rounded-date"
                presentation="date"
                [(ngModel)]="filter.toDate"
                [ngModelOptions]="{ standalone: true }"
                showDefaultButtons="true"
                doneText="{{ 'btn.yes' | translate }}"
                cancelText="{{ 'btn.no' | translate }}"
              >
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button
    (click)="search()"
    color="primary"
    expand="block"
    fill="solid"
    class="ion-margin"
    >{{ 'common.search' | translate }}</ion-button
  >
</ion-footer>
