<ion-tabs>
  <ion-tab-bar slot="bottom" [classList]="'rounded-t-3xl'">
    <ion-tab-button tab="listing">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>{{ 'common.dashboard' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>{{ 'common.create-invoice' | translate }}</ion-label>
    </ion-tab-button>

  

    <!-- <ion-tab-button tab="overview">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>{{ 'common.overview' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>{{ 'common.profile' | translate }}</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>