<div class="food-list">
  <app-product-card *ngFor="let product of products" [item]="product"  (clicked)="presentItemSheet(product?.id)">
  </app-product-card>

  <ion-infinite-scroll (ionInfinite)="getItems($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>


<div [hidden]="products?.length != 0">
  <dam-empty-result
  message="{{'common.empty-search-result' | translate}}"
  image="assets/icon/empty-orders.svg"
  >
  </dam-empty-result>
</div>


