<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header">
        <div class="avatar">
          <ion-img src="assets\images\avatar-alt.png"></ion-img>
        </div>
      </div> 
    </ion-title>
    <ion-buttons slot="end">
      <app-cloud-sync></app-cloud-sync>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 10px;">
    <ion-row class="criteria-container sticky-top">
      <!-- -->

      <ion-col>
        <div class="categories">
          <app-menu-item *ngFor="let item of menus" (clicked)="openMenu($event)" [item]="item"></app-menu-item>
        </div>
      </ion-col>

    </ion-row>





    <!-- <ion-router-outlet></ion-router-outlet> -->
    <ion-row style="margin-top: 10px;">
      <ion-grid class="standing-order-header">
          <router-outlet name="dashboard"></router-outlet>
      </ion-grid>
    </ion-row>


  </ion-grid>
</ion-content>