<ion-content>

  <h3 class="title">{{(cartItems$|async)?.length}} towards at cart</h3>

  <form [formGroup]="form" class="panel" style="height: 100%;">


     <!-- Symbol -->
     <div id="search-overlay-container">
      <div id="search-overlay" (click)="openSearch()"></div>
      <ion-item>
        <ion-label position="stacked">Customers</ion-label>
        <ion-select   placeholder="Select Customer" interface="action-sheet" mode="ios"
          [interfaceOptions]="{header: 'Cust', cssClass: 'app-select'}" formControlName="customer" name="customer"
  
          okText="OK" cancelText="Cancel">

          <ion-select-option *ngFor="let customer of customers" [value]="customer">
            {{ customer.name }} | {{customer.address}}
          </ion-select-option>

        </ion-select>

        <div *ngIf="!form.controls.customer.valid
                  && form.controls.customer.dirty" class="validator-error">
         error message
        </div>
      </ion-item>
    </div>
    <!-- <tadawul-symbol [symbol]="order?.symbol"></tadawul-symbol> -->
    <!--// -->


    <ion-item>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Select Product" [multiple]="true" (ionChange)="onChangeProduct($event)">
            <ion-select-option *ngFor="let item of products" [value]="item">
              {{ item?.name }}
            </ion-select-option>
          </ion-select>
          <!-- <div *ngIf="!form.controls.portfolio.valid
          && form.controls.portfolio.dirty" class="validator-error">
{{ t.PLEASE_CHOOSE }} {{ t.PORTFOLIO }}
</div> -->
        </ion-item>
      </ion-list>
    </ion-item>

   




    <ion-list *ngIf="(cartItems$|async)?.length>0" lines="none">
      <ion-item-sliding *ngFor="let item of cartItems$|async">
        <ion-item>
          <app-cart-item [item]="item" (onChangeItem)="onChangeItem($event)"></app-cart-item>
        </ion-item>
        <ion-item-options side='end'>
          <ion-item-option (click)="removeFromCart(item)">
            <ion-icon name='trash' size='large' color='danger'></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>



    <div id="submit-button-container">
      <app-button *ngIf="(cartItems$|async)?.length" (click)="createInvoice()">
        Total: <span><sup>$</sup>{{totalAmount$|async|number:'1.2'}}</span>
      </app-button>
    </div>

    <div class="empty-cart" *ngIf="!(cartItems$|async)?.length">
      <ion-icon name="d-cart"></ion-icon>
      <p>Your cart is empty</p>
    </div>

  </form>
</ion-content>