<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div id="title" class="ion-text-center mt-4">Dam</div>
    <div class="text-center" id="description">
      Manage your Invoice simply
    </div>
  </div>
  <div class="ion-text-center h3 font-lighter mt-3">Login Now</div>
  <form (ngSubmit)="onLogin()" [formGroup]="authForm" class="px-2">
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          placeholder="Enter Email"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <small
        class="text-danger"
        *ngIf="f.username.errors?.required && f.username.touched"
        >Email is required</small
      >
      <small
        class="text-danger"
        *ngIf="f.username.errors?.email && f.username.touched"
        >Email is Invalid</small
      >
    </div>
    <div class="mt-2">
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Enter Password"
          formControlName="password"
        >
        </ion-input>
      </ion-item>
      <small
        class="text-danger"
        *ngIf="f.password.errors?.required && f.password.touched"
        >Password is required</small
      >
    </div>

  
  </form>
 
  <div class="errors mt-3 px-2" *ngIf="errorMessages">
    <ion-item color="danger">
      <ion-label text-wrap class="ion-text-center">
        {{errorMessages}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full" shape="round" size="large" (click)="onLogin()" [disabled]="!authForm.valid">Login</ion-button>
 
</ion-footer> -->

<ion-content class="login-screen">
  <div class="gradient-bg"></div>
  <!-- <div id="overlay" [ngClass]="{fadeable: true, visible: loading}"></div> -->
  <div class="login-content-wrapper animation" [ngClass]="containerClass">
    <div class="form-wrapper">
      <img src="assets/images/splash-logo.svg" class="logo-img" />

      <form [formGroup]="form"  class="login-form">
        <ion-item class="floating-input">
          <ion-label position="floating">{{'common.username' | translate}}</ion-label>
          <ion-input (ionFocus)="setKeyboardClass(true)" (ionBlur)="setKeyboardClass(false)" formControlName="username" name="username" (keyup)="preventSpaceInUserName(username)" [(ngModel)]="username" ngDefaultControl></ion-input>
          <span class="icon icon-user" slot="start"></span>
        </ion-item>
        <ion-item class="floating-input">
          <ion-label position="floating">{{'common.password' | translate}}</ion-label>
          <ion-input (ionFocus)="setKeyboardClass(true)" (ionBlur)="setKeyboardClass(false)" formControlName="password" name="password" type="password" (keyup)="preventSpaceInPassword(password)" [(ngModel)]="password" ngDefaultControl></ion-input>
          <span class="icon icon-lock" slot="start"></span>
        </ion-item>

        <ion-grid class="ion-padding">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <!-- <ion-col size="auto" class="ion-no-padding">
              <ion-item class="remember-me">
                <ion-checkbox [formControl]="form.controls.rememberMe" name="rememberMe" [(ngModel)]="rememberMe"></ion-checkbox>
                <ion-label>{{'loginPage.REMEMBER_ME' | translate}}</ion-label>
              </ion-item>
            </ion-col> -->

            <!-- <ion-col size="auto" class="ion-no-padding">
              <ion-router-link class="underline" (click)="goToForgot()">{{'common.forgot-password' | translate}}</ion-router-link>
            </ion-col> -->
          </ion-row>
        </ion-grid>
        <ion-button   (click)="onLogin()" color="primary"  [disabled]="!form.valid" expand="block" fill="solid" class="ion-margin">{{'common.login' | translate}}</ion-button>
        <!-- <in-button color="success" [(loading)]="loading" [disabled]="!form.valid" expand="block" fill="solid" type="submit" class="ion-margin">
          {{ 'loginPage.LOGIN' | translate }}
        </in-button> -->
        <!-- <ion-router-link class="underline open-account-link ion-text-center" (click)="openCreateAccount()">{{'loginPage.OPEN_ACCOUNT' | translate}}</ion-router-link> -->
      </form>
    </div>
    <div class="ion-padding ion-text-center switch-language">
      <p (click)="changeLang()"><span class="icon icon-globe"></span> {{ appLang == 'ar' ? 'English' : 'عربي' }}</p>
    </div>
  </div>
</ion-content>
