<!-- <div class="custom-loader">
  <ion-icon class="icon" name="reload-circle-outline"></ion-icon>
</div> -->

<div class="custom-loader" [ngClass]="addClass">
    <!--<div class="backdrop active"></div>-->
    <div class="loading-wrapper active">
        <div class="spinner-wrapper">
            <div class="cube-wrapper">
                <div class="cube">
                    <div class="front"></div>
                    <div class="back"></div>
                    <div class="top"></div>
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
            </div>
        </div>
    </div>

</div>